.nav-extended {
   background-color: maroon;
}

.sidenav {
   font-family: 'MedievalSharp', cursive;
   color: rgb(15, 14, 14);
 

}

#search-param {
   padding-left: 4%;
   padding-right: 4%;
   text-decoration: black;
   color: black;
   font-size: medium;
   font-weight: bolder;

}

.search-labels {
   font-size: x-large;
   color: maroon;
   font-weight: bold;
}

.sidenav-trigger {
   color: rgb(38, 3, 71);
   font-size: xx-large;
   font-weight: bolder;
   font-family: 'MedievalSharp', cursive;
   background-color: rgb(218, 209, 209);
   padding: 2%;
   border-style: ridge;
   border-width: thick;
}

.sidenav-trigger {
   margin-left: 40%;
   margin-top: initial;
}

#searchBtn {
   background-color: maroon;
   font-family: 'MedievalSharp', cursive;
   font-size: x-large;
}

#sideBarImg {
   width: 600px;
   height: 600px;
  position: relative;
  /* // Image as background */
  background: url('https://unsplash.it/600x600') center center no-repeat;
  background-size: cover;


    /* // Pseudo element will only render if it has a content property */
    content: '';
    /* // Overlay should occupy the full width and height of parent image container */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* // Overlay background-color */
    background-color: #000000;
    /* // Overlay opacity, else overlay won't be transparent and show the image */
    opacity: 0.6;
  } 